Early Bird.xcodeproj/project.xcworkspace/xcuserdata/enagoshi.xcuserdatad/UserInterfaceState.xcuserstate
Early Bird.xcodeproj/xcuserdata/enagoshi.xcuserdatad/xcschemes/Early Bird.xcscheme

Early Bird.xcodeproj/xcuserdata/enagoshi.xcuserdatad/xcschemes/xcschememanagement.plist

*.xccheckout

*.xcuserstate
